<style>
  body {
    background-color: cornsilk;
    background-size: cover;
  }
</style>

<body>
  <% if @current_user.voted != false %>
    <p class = "Voted"> Your vote has been recorded,Thank you! </p>
  <% end %>
  <section class ="Player-Head">
    <% Player.all.each do |player| %>
      <div class ="Player">
        <p class="Player-Name" > <%= player.name  %> </p>
        <% if @current_user.voted == false %>
          <%= form_with url: "/players/#{player.id}", method: "PUT" do %>
            <%= submit_tag "SUPPORT!", data: {confirm: "confirm?once submitted can not be changed"}, class: "Support-Button" %>
          <%end%>
        <% end %>
      </div>
    <% end %>

  </section>
</body>
